.jumbotron {
    text-align: center;
    background-color: white;
}

#coltonpic {
    border-radius: 50%;
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    cursor: pointer;
}